
{{# each services }}
<p>
    <div class="card-deck">
  {{# each this }}

<div class="w-25 p-3">
    <div class="card"style="border: 0;">
      <div class="embed-responsive embed-responsive-16by9">
      <a href="/">  <img alt="deck"  class="card-img-top embed-responsive-item" src="{{ this.imagePath }}"/></a>
       </div>
       <div class="card-body">
        <h5 class="card-title text-center">{{ this.title }}</h5>
        <p class="card-text">{{ this.description }}</p>
      </div>
      <div class="clearfix">
                <div class="price pull-left">${{ this.price }}</div>
                <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
              </div>
    </div>
  </div>

      {{/each}}
  </div>

  {{/each}}


</body>
</html>
